@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
}

.item {
    background-color: lightskyblue;
}