@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    /*Torna o container grid*/
    display: grid;
    /*Três columas com o mínimo de 100px e o máximo de 400px*/
    grid-template-columns: repeat(3, minmax(100px, 400px)); 
    /*Quatro linhas com o mesmo tamanho*/
    grid-template-rows: repeat(4, 200px); 
    /*Espaçamento entre os itens*/
    grid-gap: 10px; 
}

.item {
    background-color: lightskyblue;
}